// Navigation Styles here


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px dashed #C0C0C0;
    padding: 1% 0;
    width: 900px;

    .links {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    }


.navbar-wrapper {
    display: flex;
    justify-content: center;
}
